@import 'styles/variables';

$primary-hover-color: $blue-5;

.btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background: $white;
  background-image: none;
  border: none;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: $spacing-ssm $spacing;
  font-size: $font-size-base;
  color: $text-color;
  border-color: $gray-4;
  border-radius: $border-radius;

  &.primary {
    color: $white;
    background: $primary;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;

    &:not(.disabled):hover {
      color: $white;
      background: $primary-hover-color;
    }
  }

  &.disabled {
    color: $disabled-color;
    background: $disabled-bg-color;
    box-shadow: none;
    cursor: not-allowed;
  }

  &.ghost {
    color: $gray-9;
    background-color: $gray-2;
    box-shadow: none;

    &:not(.disabled):hover {
      color: $text-color;
      background-color: $gray-3;
    }
  }

  &.text {
    color: $text-color;
    background: transparent;
    box-shadow: none;

    &:not(.disabled):hover {
      color: $text-color;
      background: rgba(0 0 0 / 1.8%);
    }
  }

  &.small {
    height: 24px;
    padding: 0 $spacing-sm;
    font-size: $font-size-sm;
  }

  &.large {
    height: 40px;
    padding: $spacing-sm $spacing-lg;
    font-size: $font-size-lg;
  }

  &.block {
    width: 100%;
  }
}
