.btn {
  @apply relative inline-block border-none bg-white py-2 px-6 text-center font-normal;
  @apply border-gray-50 cursor-pointer touch-manipulation select-none rounded-sm shadow transition-all;

  &.primary {
    @apply bg-blue-400 text-white;

    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;

    &:not(.disabled):hover {
      @apply bg-blue-300 text-white;
    }
  }

  &.disabled {
    @apply bg-gray-200 text-gray-300 cursor-not-allowed shadow-none;
  }

  &.ghost {
    @apply bg-gray-50 text-gray-600 text-sm shadow-none;

    &:not(.disabled):hover {
      @apply bg-gray-100 text-gray-700;
    }
  }

  &.text {
    @apply bg-transparent shadow-none;

    &:not(.disabled):hover {
      background: rgba(0 0 0 / 1.8%);
    }
  }

  &.small {
    @apply py-1 px-4 text-xs;
  }

  &.large {
    @apply py-2 px-8 text-lg;
  }

  &.block {
    @apply w-full;
  }
}
