@import 'styles/variables.scss';

.item {
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 6px 12px;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.018);
  }

  .title {
    vertical-align: middle;
    margin-left: 12px;
    flex: 1;
    font-size: 14px;
    transition: color 0.2s;

    &:hover {
      color: $primary;
    }
  }

  .right {
    line-height: 46px;
    color: $gray-7;
  }
}
