.ptn {
  --bg: #fff;

  background-image: radial-gradient(#e9e9e9 0.6px, #fff 0.6px);
  background-size: calc(0.6px / 0.25) calc(0.6px * 4);
  text-shadow: 1px 0 0 var(--bg), 1px 1px 0 var(--bg), -1px 0 0 var(--bg),
    0 1px 0 var(--bg), 0 -1px 0 var(--bg), -1px -1px 0 var(--bg);
}

.imageBlog {
  &:hover {
    box-shadow: 0 0 0 2px var(--primary);

    img {
      opacity: 0.8;
    }
  }
}
