.olWrapper {
  @apply mb-6 list-decimal pl-6;

  > :not([hidden]) ~ :not([hidden]),
  ol {
    margin-top: 16px;
  }
}

.olItem {
  @apply pl-4 marker:text-gray-400;
}

.ulWrapper {
  @apply mb-6 list-square pl-6;

  > :not([hidden]) ~ :not([hidden]),
  ul {
    margin-top: 16px;
  }
}

.ulItem {
  @apply pl-4 marker:text-gray-300;
}

.blockquote {
  @apply mb-4 rounded-sm border-l-4 border-solid border-gray-500 bg-gray-100 py-2 pl-4 pr-3 indent-0;

  > p {
    margin-bottom: 0;
  }
}

.externalLink {
  @apply text-primary no-underline transition-all hover:text-primary-hover hover:underline;
}

.internalLink {
  @apply font-medium text-gray-600 underline hover:text-gray-800;
}

.table {
  @apply mt-8 mb-8 w-full table-auto rounded-sm border border-solid border-gray-200 text-left;

  th,
  td {
    @apply p-2;
    @apply p-2 first:border-r first:border-solid first:border-gray-200;
  }

  thead {
    @apply border-b border-solid border-gray-200;

    th {
      @apply align-bottom font-semibold;
    }
  }

  tbody {
    tr {
      @apply border-b border-solid border-gray-200 last:border-b-0;
    }

    td {
      @apply align-baseline;
    }
  }

  tfoot {
    @apply border-t border-solid border-gray-200;

    td {
      @apply align-top;
    }
  }
}
