.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  backdrop-filter: blur(1px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.show {
  opacity: 1;
  pointer-events: all;
}
