@import 'styles/variables.scss';

$icon-background: #f6d854;
$easy-background: #78c02a;
$medium-background: #ffb300;
$hard-background: $error;

.snippet {
  margin-bottom: $margin-lg;

  .icon {
    width: 48px;
    background-color: $icon-background;
    position: relative;
    text-align: center;
    display: inline-block;

    .expertise {
      position: absolute;
      width: 16px;
      height: 16px;
      border: 2px solid $white;
      border-radius: 50%;
      top: -3px;
      right: -3px;

      &.easy {
        background-color: $easy-background;
      }

      &.medium {
        background-color: $medium-background;
      }

      &.hard {
        background-color: $hard-background;
      }
    }
  }

  .name {
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }
}
