.snippetCategory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .category {
    width: 50%;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.search {
  margin-bottom: 24px;
}
