@import "./prism.css";
@import "./notion.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0 text-base text-zinc-800 bg-zinc-50;
}

::selection {
  @apply bg-zinc-300 text-white dark:bg-zinc-600;
}

::-moz-selection {
  @apply bg-zinc-300 text-white dark:bg-zinc-600;
}

::placeholder {
  @apply dark:text-[#b2aba1] dark:opacity-50;
}

input::placeholder,
textarea::placeholder {
  @apply text-[#afa99e];
}

.capsize::before {
  content: "";
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: "";
  margin-top: -0.219em;
  display: table;
}
