@import 'styles/variables.scss';

$navbar-background: $white;
$navbar-height: $header-height;
$nav-item-width: 64px;

.navbar {
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: $gray-4 0 2px 8px;
  background: $navbar-background;

  ul,
  li {
    margin-bottom: 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    text-align: right;
    line-height: $navbar-height;
  }

  .item {
    min-width: $nav-item-width;
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0 12px;
    display: inline-block;
    transition: color 0.3s ease 0s;
    position: relative;
    text-align: center;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 12px;
      bottom: auto;
      left: 12px;
      border-width: 2px;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }

    &:hover,
    &.active {
      color: $primary;

      &::after {
        border-bottom: 2px solid $primary;
      }
    }
  }
}
