@import '../../../styles/variables.scss';

.main {
  display: flex;
  margin: $margin-lg auto;
  margin-top: $header-height + $margin-lg;
  width: $container-width;
  position: relative;
  min-height: calc(
    100vh - $header-height - $footer-height - 2 * $margin-lg
  ); // 100vh - head height - footer height - margin top & bottom
}

.mainContent {
  flex: 1;
  max-width: 826px;
}
