@import 'styles/variables';

.footer {
  box-shadow: $gray-4 0 2px 6px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;

  span {
    color: $gray-6;
    margin: 0 5px;
  }

  .link {
    font-size: $font-size-base;
    opacity: 0.8;
    margin-left: 10px;
  }
}
