@import 'styles/variables';

.footer {
  background-color: $white;
  box-shadow: $gray-4 0 2px 6px;
  text-align: center;
  line-height: $line-height-32;
  font-size: $font-size-lg;
  padding: $spacing;

  .link {
    font-size: $font-size-base;
    margin-left: $spacing-md;
    color: $text-color-secondary;
    transition: all 0.2s;

    &:hover {
      text-decoration: underline;
      color: $text-color;
    }
  }
}
