@import '../../../styles/variables.scss';

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  text-align: center;
  line-height: 32px;
  font-size: 16px;

  .container {
    width: 1200px;
    margin: 0 auto;
    span {
      color: $gray-6;
      margin: 0 5px;
    }
  }
}
