.snippetCode {
  margin: 24px 0;

  .header {
    .name {
      margin: 0;
      display: inline-block;
    }

    .tag {
      margin-left: 12px;
      vertical-align: 4px;
      font-weight: normal;
    }
  }
}
