@import 'styles/variables';

.snippetCode {
  margin: 24px 0;
  padding: $spacing;
  background-color: $component-background;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing;

    .name {
      margin: 0;
      display: inline-block;
    }

    .tag {
      margin-left: 12px;
      vertical-align: 4px;
      font-weight: normal;
    }
  }
}
