@import 'styles/variables.scss';

.article {
  width: 401px;
  margin-bottom: $margin-lg;
  margin-left: $margin-lg;
  flex-grow: 1;
  max-width: 401px;

  .cover {
    opacity: 90%;
    transition: all 0.2s ease;
  }

  .action {
    margin-right: 6px;
  }

  &:hover {
    .cover {
      opacity: 100%;
      transform: scale(1.05);
    }
  }
}
