@import 'styles/variables';
@import 'styles/mixins/ellipsis';

.article {
  margin-top: $spacing-lg;

  .wrapper {
    display: flex;

    .cover {
      opacity: 0.9;
      transition: all 0.2s ease;
    }

    &:hover {
      .cover {
        opacity: 1;
        transform: scale(1.05);
      }
    }

    .content {
      flex-grow: 1;
      margin-left: $spacing;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        @include ellipsis;

        font-size: $font-size-lg;
        margin-bottom: $spacing-sm;

        &:hover {
          text-decoration: underline;
          color: $primary;
        }
      }

      .description {
        @include ellipsis;

        font-size: $font-size;
        color: $text-color-secondary;
      }

      .actions {
        display: flex;
        justify-content: space-between;

        span {
          color: $text-color-third;
        }

        .icon {
          margin-right: $spacing-ssm;
        }
      }
    }
  }
}
