@import 'styles/variables';
@import 'styles/mixins/ellipsis';

.article {
  margin-bottom: $margin-lg;

  .wrapper {
    display: flex;

    .cover {
      opacity: 0.9;
      transition: all 0.2s ease;
    }

    &:hover {
      .cover {
        opacity: 1;
        transform: scale(1.05);
      }
    }

    .content {
      flex-grow: 1;
      margin-left: $margin-lg;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .name {
        @include ellipsis;

        font-weight: bold;
        font-size: $font-size-lg;
      }

      .description {
        @include ellipsis;

        color: $gray-7;
      }

      .actions {
        display: flex;
        justify-content: space-between;

        span {
          color: $gray-7;
        }

        .icon {
          margin-right: 6px;
        }
      }
    }
  }
}
