@import 'styles/variables';

$easy-background: $success;
$medium-background: $warning;
$hard-background: $error;

.expertise {
  width: 14px;
  height: 14px;
  border: 2px solid $white;
  border-radius: 50%;
  display: inline-block;

  &.easy {
    background-color: $easy-background;
  }

  &.medium {
    background-color: $medium-background;
  }

  &.hard {
    background-color: $hard-background;
  }
}
