@import 'styles/variables';

.banner {
  height: 240px;
  overflow: hidden;
  margin-bottom: $spacing-lg;
  position: relative;
  border: $spacing solid $white;

  .background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-position: center center;
    opacity: 0.7;
    z-index: 0;
    transition: all 0.2s;
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsla(0deg, 0%, 0%, 45%);
    color: $gray-2;
    opacity: 0.8;

    .logo {
      transition: all 0.3s;
      font-size: 95px;
    }

    .description {
      margin-top: $spacing-lg;
      font-size: 20px;
    }
  }

  &:hover {
    .content {
      opacity: 1;
    }

    .background {
      transform: scale(1.1);
    }

    .logo {
      transform: scale(0.9);
    }
  }
}
