@import 'styles/mixins/clearfix';
@import 'styles/variables';

$card-hoverable-hover-border: transparent;
$card-action-icon-size: 16px;

$card-skeleton-bg: #cfd8dc;
$gradient-min: fade-in($card-skeleton-bg, 0.1);
$gradient-max: fade-in($card-skeleton-bg, 0.4);

$background-color-light: #fafafa;

$card-head-color: $text-color;
$card-head-font-size-sm: $font-size-base;
$card-actions-background: $component-background;
$card-background: $component-background;
$card-radius: $border-radius-base;
$card-head-extra-color: $text-color;

.meta {
  @include clearfix;

  margin: -4px 0;

  .avatar {
    float: left;
    padding-right: 16px;

    .card.rtl & {
      float: right;
      padding-right: 0;
      padding-left: 16px;
    }
  }

  .detail {
    overflow: hidden;

    > div:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .title {
    overflow: hidden;
    color: $card-head-color;
    font-weight: 500;
    font-size: $font-size-lg;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description {
    color: $text-color-secondary;
  }
}

.card {
  position: relative;
  background: $card-background;
  border-radius: 2px;

  .head {
    @include clearfix;

    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 $padding-lg;
    color: $card-head-color;
    font-weight: bold;
    font-size: $font-size-lg;
    background: transparent;
    border-bottom: 1px solid $border-color-split;
    border-radius: 2px 2px 0 0;

    .wrapper {
      display: flex;
      align-items: center;
    }

    .title {
      display: inline-block;
      flex: 1;
      padding: 16px 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .body {
    @include clearfix;

    padding: $padding-lg;
  }

  .cover {
    > * {
      display: block;
      width: 100%;
    }

    img {
      border-radius: $card-radius $card-radius 0 0;
    }
  }

  .extra {
    float: right;
    margin-left: auto;
    padding: 16px 0;
    color: $card-head-extra-color;
    font-weight: normal;
    font-size: $font-size-base;

    /*
    .card.rtl & {
      margin-right: auto;
      margin-left: 0;
    }
    */
  }

  .actions {
    @include clearfix;

    margin: 0;
    padding: 0;
    list-style: none;
    background: $card-actions-background;
    border-top: 1px solid $border-color-split;

    > li {
      float: left;
      margin: 12px 0;
      color: $text-color-secondary;
      text-align: center;

      &:not(:last-child) {
        border-right: 1px solid $border-color-split;

        .card-rtl & {
          border-right: none;
          border-left: 1px solid $border-color-split;
        }
      }

      .card.rtl & {
        float: right;
      }

      > span {
        position: relative;
        display: block;
        min-width: 32px;
        font-size: $font-size-base;
        line-height: 1.57;
        cursor: pointer;

        &:hover {
          color: $primary;
          transition: color 0.3s;
        }

        > .iconfont {
          font-size: $card-action-icon-size;
          line-height: 22px;
        }

        a:not(.btn),
        > .iconfont {
          display: inline-block;
          width: 100%;
          color: $text-color-secondary;
          line-height: 22px;
          transition: color 0.3s;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  &.rtl {
    direction: rtl;

    .extra {
      margin-right: auto;
      margin-left: 0;
    }
  }

  &.hoverable {
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;

    &:hover {
      border-color: transparent;
      box-shadow: 4px 4px 40px rgb(0 0 0 / 7%);
    }
  }

  &.bordered {
    border: 1px solid $border-color-split;
  }

  &.typeInner {
    .head {
      padding: 0 $padding-lg;
      background: $background-color-light;

      .title {
        padding: 12px 0;
        font-size: $font-size-base;
      }
    }

    .body {
      padding: 16px $padding-lg;
    }

    .extra {
      padding: 12px + 1.5px 0;
    }
  }

  &.bordered .cover {
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
  }

  &.loading {
    overflow: hidden;
  }

  &.loading .body {
    user-select: none;
  }

  .loadingContent {
    p {
      margin: 0;
    }
  }

  .loadingBlock {
    height: 14px;
    margin: 4px 0;
    background: linear-gradient(90deg, $gradient-min, $gradient-max, $gradient-min);
    background-size: 600% 600%;
    border-radius: 2px;
    animation: card-loading 1.4s ease infinite;
  }

  &.small {
    > .head {
      min-height: 36px;
      padding: 0 12px;
      font-size: $card-head-font-size-sm;

      > .wrapper {
        > .title {
          padding: 12px 0;
        }

        > .extra {
          padding: 12px 0;
          font-size: $card-head-font-size-sm;
        }
      }
    }

    > .body {
      padding: 12px;
    }
  }
}

@keyframes card-loading {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
