@import 'styles/variables.scss';

$icon-background: #f6d854;

.snippet {
  margin-bottom: $margin-lg;

  .icon {
    width: 48px;
    background-color: $icon-background;
    position: relative;
    text-align: center;
    display: inline-block;
  }

  .name {
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }
}
