@import 'styles/variables';

.snippet {
  margin-bottom: $spacing-lg;

  .category {
    width: 48px;
    height: 48px;
    line-height: 48px;
    position: relative;
    display: inline-block;
    text-align: center;

    .icon {
      width: 100%;
      height: 100%;
      line-height: inherit;
      font-size: 26px;
      border-radius: $border-radius;
    }
  }

  .header {
    display: flex;
    align-items: flex-start;
  }

  .data {
    flex-grow: 1;
    margin: 0 $spacing;
    display: inline-block;
  }

  .name {
    font-size: $font-size-18;
    line-height: 2rem;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }

  .tag {
    color: $text-color-third;
    font-size: $font-size-sm;
  }

  .description {
    margin-top: $spacing;
    margin-bottom: 0;
    color: $text-color-secondary;
  }

  .rank {
    position: absolute;
    top: -3px;
    right: -3px;
  }
}
