@import 'styles/variables';

.commentSkeleton {
  padding: $spacing;
  background-color: $component-background;

  .item {
    margin-top: $spacing-md;

    &:first-child {
      margin-top: 0;
    }
  }
}
