@import 'styles/variables';

.metas {
  margin-bottom: $spacing-lg;

  .meta {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-md;

    .label {
      display: inline-block;
      width: 80px;
      line-height: $line-height-24;
      height: $line-height-24;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .date {
    line-height: $line-height-24;
  }

  .copyright {
    text-decoration: none;
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .url {
    text-decoration: underline;
  }

  .separator {
    margin: 0 $spacing-sm;
  }
}
