@import 'styles/variables.scss';

.metas {
  margin-bottom: $margin-lg;

  .meta {
    display: flex;
    align-items: center;
    margin-bottom: $margin-sm;

    .label {
      display: inline-block;
      width: 80px;
      line-height: 24px;
      height: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
