@import 'styles/variables.scss';

.logo {
  width: 200px;
  font-weight: 700;
  font-size: 18px;
  line-height: $header-height;
  height: $header-height;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    height: 32px !important;
  }

  span {
    color: $primary;
    margin-left: 12px;
  }
}
