@import 'styles/variables.scss';

$alert-success-border-color: #b7eb8f;
$alert-success-bg-color: #f6ffed;
$alert-success-icon-color: $success;

$alert-info-border-color: #91d5ff;
$alert-info-bg-color: #e6f7ff;
$alert-info-icon-color: $primary;

$alert-warning-border-color: #ffe58f;
$alert-warning-bg-color: #fffbe6;
$alert-warning-icon-color: $warning;

$alert-error-border-color: #ffccc7;
$alert-error-bg-color: #fff2f0;
$alert-error-icon-color: $error;

$alert-message-color: #000000d9;
$alert-text-color: $text-color;

.alert {
  box-sizing: border-box;
  margin: 0;
  color: $text-color;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  word-wrap: break-word;
  border-radius: $border-radius-base;

  .content {
    flex: 1;
    min-width: 0;
  }

  .icon {
    margin-right: $margin-lg;
  }

  .description {
    display: none;
    font-size: $font-size-base;
    line-height: $font-size-base + 8px;
  }

  &.success {
    background-color: $alert-success-bg-color;
    border: 1px solid $alert-success-border-color;

    .icon {
      color: $alert-success-icon-color;
    }
  }

  &.info {
    background-color: $alert-info-bg-color;
    border: 1px solid $alert-info-border-color;

    .icon {
      color: $alert-info-icon-color;
    }
  }

  &.warning {
    background-color: $alert-warning-bg-color;
    border: 1px solid $alert-warning-border-color;

    .icon {
      color: $alert-warning-icon-color;
    }
  }

  &.error {
    background-color: $alert-error-bg-color;
    border: 1px solid $alert-error-border-color;

    .icon {
      color: $alert-error-icon-color;
    }

    .description > pre {
      margin: 0;
      padding: 0;
    }
  }

  &.banner {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }

  .action {
    margin-left: 8px;
  }

  .message {
    color: $alert-message-color;
  }

  &.withDescription {
    align-items: flex-start;
    padding: $padding-md $padding-md $padding-md $padding-lg;

    .noIcon {
      padding: 7px $padding-md;
    }

    .message {
      display: block;
      margin-bottom: 4px;
      color: $alert-message-color;
      font-size: $font-size-lg;
    }

    .icon {
      margin-right: $margin-md;
      font-size: 24px;
    }

    .description {
      display: block;
    }
  }
}
