@import 'styles/variables';
@import 'styles/colors';

$alert-success-bg-color: $green-1;
$alert-success-border-color: $green-3;
$alert-success-icon-color: $green-5;
$alert-success-message-color: $green-6;

$alert-info-bg-color: $blue-1;
$alert-info-border-color: $blue-3;
$alert-info-icon-color: $blue-5;
$alert-info-message-color: $blue-6;

$alert-warning-bg-color: $yellow-1;
$alert-warning-border-color: $yellow-3;
$alert-warning-icon-color: $yellow-4;
$alert-warning-message-color: $yellow-5;

$alert-error-bg-color: $red-1;
$alert-error-border-color: $red-3;
$alert-error-icon-color: $red-4;
$alert-error-message-color: $red-5;

$alert-message-color: #000000d9;
$alert-text-color: $text-color;

.alert {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: flex;
  align-items: center;
  padding: $spacing-sm $spacing;
  word-wrap: break-word;
  border-radius: $border-radius;

  .content {
    flex: 1;
    min-width: 0;
  }

  .icon {
    margin-right: $spacing;
  }

  .description {
    display: none;
    font-size: $font-size-base;
    line-height: $font-size-base + 8px;
  }

  &.success {
    background-color: $alert-success-bg-color;
    border: 1px solid $alert-success-border-color;

    .message {
      color: $alert-success-message-color;
    }

    .icon {
      color: $alert-success-icon-color;
    }
  }

  &.info {
    background-color: $alert-info-bg-color;
    border: 1px solid $alert-info-border-color;

    .message {
      color: $alert-info-message-color;
    }

    .icon {
      color: $alert-info-icon-color;
    }
  }

  &.warning {
    background-color: $alert-warning-bg-color;
    border: 1px solid $alert-warning-border-color;

    .message {
      color: $alert-warning-message-color;
    }

    .icon {
      color: $alert-warning-icon-color;
    }
  }

  &.error {
    background-color: $alert-error-bg-color;
    border: 1px solid $alert-error-border-color;

    .message {
      color: $alert-error-message-color;
    }

    .icon {
      color: $alert-error-icon-color;
    }

    .description > pre {
      margin: 0;
      padding: 0;
    }
  }

  &.banner {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }

  .action {
    margin-left: $spacing-sm;
  }

  &.withDescription {
    align-items: flex-start;
    padding: $spacing $spacing $spacing $spacing-lg;

    .noIcon {
      padding: $spacing-sm $spacing;
    }

    .message {
      display: block;
      margin-bottom: $spacing-ssm;
      color: $alert-message-color;
      font-size: $font-size-lg;
    }

    .icon {
      margin-right: $spacing;
      font-size: 24px;
    }

    .description {
      display: block;
    }
  }
}
