@import 'styles/variables';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  margin: $spacing-lg auto;
  margin-top: $header-height + $spacing-lg;
  width: $container-width;
  position: relative;
  gap: $spacing-lg;
}

.mainContent {
  flex: 1;
  max-width: 856px;
}
