.root {
  font-family: 'Fira Code';
}

.root:empty::before {
  @apply text-gray-2;
  content: attr(placeholder);
}

.root:not(:empty):focus::before {
  content: '';
}

.emojiList {
  display: none;
}

.emoji:hover > .emojiList {
  display: block;
}
