$toobar-height: 32px;
$black: black;
$spacing-md: 12px;
$border-color-split: #f9f9f9;
$spacing-ssm: 2px;
$spacing-sm: 4px;
$border-radius: 2px;

.icon {
  margin-right: $spacing-md;
  text-align: center;
  padding: 4px;
  display: inline-block;
  transition: all 0.3s;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    @apply bg-gray-100;
  }
}

.toolbar {
  border-bottom: 1px solid $border-color-split;
  padding: $spacing-ssm $spacing-sm;
  height: $toobar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .action {
    border-radius: $border-radius;

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;

      .icon {
        cursor: inherit;
        color: inherit;
        vertical-align: middle;
      }
    }
  }

  .preview {
    border-radius: 2px;

    .btn {
      &.active {
        @apply bg-gray-200;
      }
    }
  }
}

.markdown {
  position: relative;

  .content {
    position: relative;
    overflow: hidden;

    .textarea {
      padding: $spacing-md;
      line-height: 20px;
      min-height: 200px;
      max-width: 682px;
      max-height: 550px;
      overflow: auto;
    }

    .preview {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: $spacing-md;
      height: 100%;
      overflow: auto;
      @apply bg-gray-50;
    }
  }
}
