@import 'styles/variables.scss';

.breadcrumbs {
  box-sizing: border-box;
  font-variant: tabular-nums;
  line-height: $line-height-base;
  font-feature-settings: 'tnum';
  color: #00000073;
  font-size: $font-size-base;

  a {
    color: #00000073;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    .link {
      transition: 0.3s ease-out;

      &:hover {
        color: $primary;
      }

      &.active {
        color: #000000d9;
      }
    }

    .separator {
      margin: 0 8px;
      color: #00000073;
    }
  }
}
