@import 'styles/variables';

.empty {
  text-align: center;
  padding: $spacing;
  background-color: $component-background;

  .icon {
    font-size: 45px;
    color: $text-color-third;
  }

  .description {
    margin-top: $spacing-sm;
    color: $text-color-secondary;
    margin-bottom: 0;
  }
}
