@import 'styles/variables';

.empty {
  text-align: center;

  .icon {
    font-size: 60px;
    color: $text-color-third;
  }

  .description {
    margin-top: $spacing-md;
    margin-bottom: 0;
  }
}
