@import 'styles/variables';

.empty {
  font-size: 14px;
  line-height: $line-height-base;
  text-align: center;

  .icon {
    font-size: 60px;
    color: $gray-6;
  }

  .description {
    margin-top: 12px;
    margin-bottom: 0;
  }
}
