@import '../../../styles/variables.scss';

.search {
  flex: auto;
  height: $header-height;
  line-height: $header-height;

  .main {
    display: flex;
    align-items: center;
    height: 100%;

    .icon {
      margin-right: 15px;
    }

    input {
      width: 100%;
      outline: none;
      border: none;
      line-height: 30px;
    }
  }
}
