.labelWrapper {
  input:checked ~ label {
    @apply bg-white-3 dark:bg-white-3--dark;
  }
}

.carousel {
  // Handler Shape

  &.top.bar .labelWrapper,
  &.bottom.bar .labelWrapper {
    input:checked ~ label {
      @apply w-6;
    }
  }

  &.left.bar,
  &.right.bar {
    input:checked ~ label {
      @apply h-6;
    }
  }
}
