@import 'styles/variables';

.snippet {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name {
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
}
