button.send {
  --duration: 1600ms;
  --color: #f6f8ff;
  --icon: var(--color);
  --progress-border: #187de4;
  --progress-active: #f6f8ff;
  --progress-success: #16bf78;
  --tick-stroke: var(--progress-active);
  --shadow: rgba(0, 9, 61, 20%);
  --shadow-active: rgba(0, 9, 61, 32%);

  backface-visibility: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 var(--shadow-y, 2px) var(--shadow-blur, 6px) var(--shadow);
  transform: scale(var(--scale, 1));

  // '#0055ac'
  @apply cursor-pointer select-none rounded-sm bg-primary py-2 px-6 text-sm text-white outline-none dark:bg-primary--dark dark:text-white--dark;

  > div {
    @apply absolute top-2 left-2 rounded-full;

    transition: transform 0.3s, opacity 0.2s;
    background: var(--progress-border);
    opacity: var(--icon-o, 0);
    transform: translateX(var(--icon-x, -4px));

    &::before {
      @apply absolute z-10 h-4 w-4 bg-primary dark:bg-dark-2--dark;

      content: '';
      left: 2px;
      top: 2px;
      border-radius: inherit;
      transform: scale(var(--background-scale, 1));
      transition: transform 0.32s ease;
    }

    svg {
      @apply block h-5 w-5;

      fill: none;

      &.progress {
        transform: rotate(-90deg) scale(var(--progress-scale, 1));
        transition: transform 0.5s ease;

        circle {
          stroke-dashoffset: 1;
          stroke-dasharray: var(--progress-array, 0) 52;
          stroke-width: 16;
          stroke: var(--progress-active);
          transition: stroke-dasharray var(--duration) linear;
        }
      }

      &.tick {
        @apply absolute left-0 top-0;

        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--tick-stroke);
        transition: stroke 0.3s ease 0.7s;

        polyline {
          stroke-dasharray: 18 18 18;
          stroke-dashoffset: var(--tick-offset, 18);
          transition: stroke-dashoffset 0.4s ease 0.7s;
        }
      }
    }
  }

  ul {
    @apply pointer-events-none relative m-0 list-none p-0 text-center;

    min-width: 52px;
    backface-visibility: hidden;
    transition: transform 0.3s;
    transform: translate3d(var(--ul-x, 0), 0, 0);

    li {
      top: var(--t, 0);
      backface-visibility: hidden;
      transform: translateY(var(--ul-y)) translateZ(0);
      transition: transform 0.3s ease 0.16s, opacity 0.2s ease 0.16s;

      &:not(:first-child) {
        --o: 0;

        @apply absolute left-0 right-0;
      }

      &:nth-child(1) {
        opacity: var(--ul-o-1, 1);
      }

      &:nth-child(2) {
        --t: 100%;

        opacity: var(--ul-o-2, 0);
      }

      &:nth-child(3) {
        --t: 200%;

        opacity: var(--ul-o-3, 0);
      }

      &:nth-child(4) {
        --t: 300%;

        opacity: var(--ul-o-4, 0);
      }

      &:nth-child(5) {
        --t: 400%;

        opacity: var(--ul-o-5, 0);
        color: #888;
      }
    }
  }

  &:focus:not(.process),
  &:hover:not(.process) {
    --shadow: var(--shadow-active);
    --shadow-y: 8px;
    --shadow-blur: 16px;
  }

  &:active:not(.success) {
    --scale: 0.96;
    --shadow-y: 4px;
    --shadow-blur: 8px;
  }

  &.process,
  &.loading,
  &.success,
  &.error {
    --ul-x: 8px;
    --icon-o: 1;
    --progress-array: 52;
  }

  &.process {
    --icon-x: 0;
    --ul-y: -100%;
    --ul-o-1: 0;
    --ul-o-2: 1;
    --ul-o-3: 0;
    --ul-o-4: 0;
    --ul-o-5: 0;
  }

  &.loading {
    --icon-x: 0;
    --ul-y: -200%;
    --ul-o-1: 0;
    --ul-o-2: 0;
    --ul-o-3: 1;
    --ul-o-4: 0;
    --ul-o-5: 0;
  }

  &.success {
    --icon-x: 6px;
    --progress-border: none;
    --progress-scale: 0.11;
    --tick-stroke: var(--progress-success);
    --background-scale: 0;
    --tick-offset: 36;
    --ul-y: -300%;
    --ul-o-1: 0;
    --ul-o-2: 0;
    --ul-o-3: 0;
    --ul-o-4: 1;
    --ul-o-5: 0;

    > div svg.progress {
      animation: tick 0.3s linear forwards 0.4s;
    }
  }

  &.error {
    --icon-x: 0;
    --ul-y: -400%;
    --ul-o-1: 0;
    --ul-o-2: 0;
    --ul-o-3: 0;
    --ul-o-4: 0;
    --ul-o-5: 1;
  }
}

@keyframes tick {
  100% {
    transform: rotate(-90deg) translate(0, -5px) scale(var(--progress-scale));
  }
}
