@import 'styles/variables';

.serverError {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .head {
    margin-bottom: $spacing-sm;
    cursor: pointer;
    padding-top: $spacing-ssm;
    padding-bottom: $spacing-sm;
    font-size: 42px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1.25px;
  }
}
