.year {
  @apply flex h-auto items-center justify-center bg-gray-300/50 py-3 text-left text-2xl font-semibold tracking-tighter text-gray-700 sm:text-center md:block md:h-24 md:w-28 md:flex-shrink-0 md:py-4 md:text-3xl md:font-semibold;

  .count {
    @apply ml-2 inline-block text-sm font-normal tracking-tighter text-primary before:hidden md:ml-0 md:block md:text-base md:leading-8 md:before:block;

    &::before {
      @apply mx-auto bg-primary;

      content: '';
      width: 20%;
      height: 1px;
    }
  }
}

.card {
  @apply relative h-16 w-full overflow-hidden bg-gray-50 bg-cover bg-center text-center md:h-24 md:w-1/2;

  background-blend-mode: luminosity;
  transition: all 0.15s cubic-bezier(0.8, 0, 0.2, 1);

  &.hasCover:hover {
    .inner {
      background-color: rgba(0, 0, 0, 25%);
      opacity: 100;
    }
  }

  &:hover {
    background-blend-mode: normal;

    .inner {
      @apply bg-gray-900;
    }

    .link {
      @apply text-white;

      &::after {
        @apply w-full bg-white;
      }
    }

    .singleNum {
      @apply text-white;
    }
  }
}

.inner {
  @apply block h-full w-full bg-gray-100 opacity-95;

  transition: all 0.15s cubic-bezier(0.8, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.singleNum {
  @apply absolute left-2 top-2 text-5xl font-bold text-black opacity-30;

  transition: opacity 0.15s cubic-bezier(0.8, 0, 0.2, 1);

  i {
    font-style: normal;
    font-size: 0.5em;
    vertical-align: top;
    font-weight: 400;
  }
}

.link {
  @apply relative top-1/2 mx-2 inline-block -translate-y-1/2 cursor-pointer py-2 text-lg font-bold leading-none text-gray-600 no-underline md:text-3xl;

  &::after {
    @apply mx-auto block w-0;

    content: '';
    height: 1px;
    transition: all 0.2s cubic-bezier(0.8, 0, 0.2, 1);
  }
}
