@import 'styles/variables';

.archive {
  .yearList {
    padding-left: 0;
    list-style: none;
  }

  .title {
    &.root {
      font-weight: 700;
      margin-bottom: $spacing-32;
      font-size: $font-size-20;
    }
  }

  .monthList {
    list-style: square;
  }

  .year {
    .title.root span {
      border-bottom: 1px solid;
    }
  }

  .articleList {
    list-style: none;
    padding-left: 1em;
  }

  .article {
    padding: $spacing-md;
    border-radius: 2px;

    .title {
      margin-bottom: $spacing-md;
    }

    .date {
      display: inline-block;
      color: $text-color-third;
      width: 36px;
      font-size: $font-size-sm;
      margin-right: $spacing-md;
    }

    .link {
      border-bottom: 1px solid;
      font-weight: 700;
      cursor: pointer;
      opacity: 0.9;
      transition: all 0.3s ease;
      border-color: transparent;

      &:hover {
        opacity: 1;
        border-color: $text-color;
      }
    }

    .description {
      margin-bottom: 0;
      color: $text-color-secondary;
      font-size: $font-size-sm;
      padding-left: 48px;
    }

    &:hover {
      background-color: $gray-2;
    }
  }
}
