@import 'styles/variables';

.swiper {
  margin-bottom: $spacing-lg;

  .article {
    opacity: 0.9;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    .text {
      .title {
        color: $text-color;
        margin-right: $spacing-lg;
        font-size: $font-size-lg;
      }

      .description {
        color: $gray-7;
      }
    }
  }
}
