@import 'styles/variables';

.swiper {
  margin-bottom: $spacing-lg;

  .article {
    opacity: 0.9;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;

    img {
      border-radius: 2px !important;
    }

    &:hover {
      opacity: 1;
    }

    .text {
      position: absolute;
      top: $spacing-lg;
      right: $spacing-lg;
      padding: $spacing-ssm $spacing-lg;
      background-color: rgba($color: #000, $alpha: 35%);
      transition: all 0.2s ease-in;
      border-radius: 2px;

      .title {
        transition: all 0.2s ease-in;
        color: $gray-3;
        font-size: $font-size-lg;
      }

      &:hover {
        background-color: rgba($color: #000, $alpha: 75%);

        .title {
          color: $white;
        }
      }
    }
  }
}
