@import '../../../styles/variables.scss';

.commentCard {
  margin-bottom: $margin-sm;
  &:last-child {
    margin-bottom: 0;
  }
  .action {
    .icon {
      margin-right: 5px;
    }
  }
  .serialNumber {
    float: right;
    opacity: 0.8;
  }
  .date {
    float: right;
  }
  .avatar {
    border: 4px solid lighten($gray-5, 5%);
  }
}
