.ejector {
  @apply flex h-8 w-8 items-center justify-center rounded-sm text-center;
}

.qq:hover {
  background-color: #1abcfa;
}

.wechat:hover {
  background-color: #2bae67;
}

.douban:hover {
  background-color: #05d212;
}

.link:hover {
  background-color: #0088f5;
}
