.ejector {
  @apply flex h-8 w-8 items-center justify-center rounded-sm text-center text-white opacity-90 transition-all hover:opacity-100;

  &.like {
    background-color: #f04438;
    color: white;
  }

  &.qq {
    background-color: #1abcfa;
    color: white;
  }

  &.wechat {
    background-color: #2bae67;
    color: white;
  }

  &.douban {
    background-color: #05d212;
    color: white;
  }
}
