:root {
  --github: var(--accent-800);
  --qq: #1abcfa;
  --wechat: #2bae67;
  --white: #fff;

  --primary: #3699ff;
  --primary-hover: #187de4;
  --primary-light: #e1f0ff;
  --danger: #f64e60;
  --danger-hover: #ec0c24;
  --danger-light: #ffe2e5;

  --bg-skeleton: #e5e7eb;
}

:root.dark {
  --bg--skeleton: #25282a;
  --bg--github: var(--bg--bg-gray-700);
  --bg--qq: #0489bb;
  --bg--white: #181a1b;

  --bg--primary: #0055ac;
  --bg--primary-hover: #1364b6;
  --bg--primary-light: #202325;
  --bg--danger: #9b0818;
  --bg--danger-hover: #bd0a1d;
  --bg--danger-light: #440007;

  --border--wechat: #26985a;
  --border--primary: #0050a2;

  --text--github: var(--text--bg-gray-700);
  --text--qq: #2dc1fa;
  --text--wechat: #5cd794;
  --text--white: #e8e6e3;
  --text--primary: #3fa9ff;
  --text--primary-hover: #48a2ec;
  --text--danger: #f65364;
}
