@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500 600 700 800 bold bolder;
  font-display: swap;
  src: url('https://static.itsuki.cn/fonts/IBMPlexSans/IBMPlexSans-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-display: swap;
  src: url('https://static.itsuki.cn/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-display: swap;
  src: url('https://static.itsuki.cn/fonts/IBMPlexSans/IBMPlexSans-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 400;
  font-display: swap;
  src: url('https://static.itsuki.cn/fonts/FiraCode.ttf') format('truetype');
}
