@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://static.itsuki.cn/fonts/FiraCode.ttf') format('truetype');
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://static.itsuki.cn/fonts/ia-qa/iAWriterQuattroSRegular.ttf')
    format('truetype');
}
