@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://resources.fivewoods.xyz/fonts/FiraCode.ttf) format('ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://resources.fivewoods.xyz/fonts/Inter.ttf) format('ttf');
}
