@import './transition';
@import './scrollbar';
@import './font';
@import './base';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0 text-base text-basic;
}

.container {
  @apply relative mx-auto max-w-7xl px-4 sm:px-8;
}

::selection {
  @apply bg-gray-300 text-white dark:bg-gray-600;
}

::-moz-selection {
  @apply bg-gray-300 text-white dark:bg-gray-600;
}

::placeholder {
  @apply dark:text-[#b2aba1] dark:opacity-50;
}

input::placeholder,
textarea::placeholder {
  @apply text-[#afa99e];
}

blockquote {
  @apply border-l-4 border-solid border-dark-3 bg-white-1 py-1 pl-4 pr-3 indent-0;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.reply-comment {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
