@import './transition';
@import './scrollbar';
@import './font';
@import './base';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 bg-basic p-0 text-base text-basic;

  background-color: #f9fafb;
}

.container {
  @apply relative mx-auto max-w-5xl;
}

::selection {
  @apply bg-[#d9d9d9] text-white dark:bg-[#2d3133];

  text-shadow: none;
}

::-moz-selection {
  @apply bg-[#d9d9d9] text-white dark:bg-[#2d3133];

  text-shadow: none;
}

::placeholder {
  @apply dark:text-[#b2aba1] dark:opacity-50;
}

input::placeholder,
textarea::placeholder {
  @apply text-[#afa99e];
}

blockquote {
  @apply border-l-4 border-solid border-dark-3 bg-white-1 py-1 pl-4 pr-3 indent-0;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}
