@import './transition';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply m-0 bg-base p-0 text-base text-basic;

  font-family: 'iA Writer Quattro', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container {
  @apply relative mx-auto;

  width: 1050px;
}

::selection {
  background-color: #d9d9d9;
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background-color: #d9d9d9;
  color: white;
  text-shadow: none;
}
