.markdown-html {
  p {
    @apply mb-4 leading-9;

    &.center {
      @apply text-center;
    }

    &.right {
      @apply text-right;
    }
  }

  code {
    @apply my-1 mx-1 rounded-sm bg-gray-100 px-2 py-1;

    color: #e06c75;
  }

  a {
    @apply my-0 mx-1 inline-block border border-solid border-transparent indent-0 font-bold text-blue-400 no-underline;

    &:hover,
    &:focus {
      @apply opacity-80;
    }

    &.image-link {
      @apply m-0 border-none;
    }

    &:hover {
      @apply no-underline;

      border-color: initial;
    }
  }

  h1 {
    @apply pb-2 text-4xl;
  }

  h2 {
    @apply pb-1 text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 mb-4 indent-0 font-bold leading-9;
  }

  blockquote {
    p:last-child {
      @apply mb-0;
    }
  }

  ul,
  ol {
    list-style-type: inherit;

    > li {
      @apply py-2 px-3 leading-7;

      &:hover {
        @apply bg-gray-100;
      }
      /* stylelint-disable no-descending-specificity */
      > p {
        @apply mb-0 indent-0;
      }

      > ul {
        list-style-type: circle;
      }

      > ol {
        list-style: lower-alpha;
      }

      > ul,
      > ol {
        @apply mt-1;

        &:last-child {
          @apply mb-0;
        }
      }

      &:last-child {
        > ul,
        > ol {
          @apply -mb-1;
        }
      }
    }
  }

  img {
    @apply relative mx-0 my-auto block max-w-full cursor-pointer rounded-sm border-8 border-solid border-gray-100 text-center opacity-80 transition-all;

    &:hover {
      @apply opacity-100;
    }
  }

  iframe {
    @apply mb-4 w-full;
  }

  pre {
    $code-header-height: 36px;
    $code-number-width: 36px;
    $code-row-line-height: 24px;
    $code-font-size: 16px;

    $code-bg: #282c34;
    $code-language-bg: #1d2127;
    $code-lines-bg: rgba(black, 0.15);
    $code-number: #475162;
    $code-number-hover: #a7b0be;
    $code-number-hover-bg: #2b313d;

    @apply relative mb-2 block overflow-hidden rounded-sm pl-9;

    background-color: $code-bg;

    &::before {
      @apply absolute top-0 left-0 right-0 h-9 text-center font-bold uppercase leading-9 text-gray-200;

      content: attr(data-lang) ' CODE';
      font-family: 'Fira Code';
      background-color: $code-language-bg;
    }

    .code-lines {
      @apply absolute left-0 top-0 bottom-0 mb-0 w-9 select-none py-2 px-0 text-center;

      top: $code-header-height;
      background-color: $code-lines-bg;

      .code-line-number {
        @apply relative list-none p-0 text-base;

        color: $code-number;

        &::before {
          @apply invisible absolute left-9 top-0 right-0 h-full opacity-0;

          content: '';
          width: 1200px;
          background-color: rgba(white, 0.1);
        }

        &:hover {
          @apply opacity-100 before:visible;

          color: $code-number-hover;
          background-color: $code-number-hover-bg;
        }
      }
    }

    code {
      @apply float-left m-0 block h-full w-full bg-transparent p-2 pt-0 text-base text-gray-300;
    }
  }

  &.comment {
    word-wrap: break-word;
    @apply text-base;

    p {
      @apply indent-0 leading-8 last:m-0;
    }

    a {
      @apply border-b border-solid no-underline;
    }

    img {
      @apply my-2 mx-0 max-w-full;
    }

    ul,
    ol {
      @apply pl-8;

      > li {
        @apply py-1 px-2 hover:bg-gray-50;
      }
    }

    pre {
      $code-header-height: 2.8rem;

      @apply mt-4 flex flex-wrap-reverse items-baseline pt-9 pl-0;

      .code-lines {
        @apply hidden;
      }

      code {
        @apply bg-transparent leading-6;
      }
    }
  }
}
