.markdown-html {
  @apply text-sm tracking-wider;

  p {
    @apply mb-4 leading-8;

    &.center {
      @apply text-center;
    }

    &.right {
      @apply text-right;
    }
  }

  code {
    @apply m-1 rounded-sm p-1;

    color: rgba(41, 37, 36, 100%);
    background-color: #f8f8f8;
  }

  a {
    @apply my-0 mx-1 inline-block h-max rounded-sm px-1 indent-0 leading-6 no-underline transition-colors;

    background-color: rgba(209, 232, 243, 60%);
    color: #31302e;

    &:hover,
    &:focus {
      background-color: rgba(186, 227, 247, 100%);
      border-color: initial;
    }

    &.image-link {
      background-color: transparent;
    }
  }

  h1 {
    @apply pb-2 text-2xl;
  }

  h2 {
    @apply pb-1 text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 mb-4 indent-0 font-bold leading-9 tracking-wider;
  }

  blockquote {
    background-color: #42828e14;

    p:last-child {
      @apply mb-0;
    }
  }

  ul,
  ol {
    list-style-type: inherit;

    > li {
      @apply py-2 px-3 leading-7;

      /* stylelint-disable no-descending-specificity */
      > p {
        @apply mb-0 indent-0;
      }

      > ul {
        list-style-type: circle;
      }

      > ol {
        list-style: lower-alpha;
      }

      > ul,
      > ol {
        @apply mt-1;

        &:last-child {
          @apply mb-0;
        }
      }

      &:last-child {
        > ul,
        > ol {
          @apply -mb-1;
        }
      }
    }
  }

  img {
    @apply relative mx-auto block max-w-full cursor-pointer text-center opacity-80 transition-all;

    &:hover {
      @apply opacity-100;
    }
  }

  iframe {
    @apply mb-4 w-full;
  }

  pre {
    @apply relative mb-2 block overflow-hidden rounded-sm p-2;

    background-color: #f8f8f8;

    code {
      @apply m-0 block h-full w-full bg-transparent;

      color: #535353;
    }
  }

  &.comment {
    @apply text-sm tracking-wider;

    word-wrap: break-word;

    p {
      @apply m-0 indent-0 leading-8 last:m-0;
    }

    img {
      @apply my-2 mx-0 max-w-full;
    }

    th,
    td {
      padding: 0.5em 1em;
      vertical-align: inherit;
      border: 1px solid #eee;
    }

    ul,
    ol {
      @apply pl-8;

      > li {
        @apply py-1 px-2;
      }
    }

    pre {
      // NOTE: bg-[#f3f3f3]
      @apply flex flex-wrap-reverse items-baseline bg-[#f2f2f2];

      code {
        @apply leading-6;
      }
    }
  }
}
