/* NOTION CSS OVERRIDE */

.notion {
  @apply text-zinc-600 dark:text-zinc-300 text-base break-words rounded-xl;
}

.notion.notion-app {
  @apply p-4 font-ibm;
}

.notion.notion-app .notion-text {
  @apply leading-8 p-0 my-3;
}

.notion.notion-app .notion-h-title {
  @apply leading-8 p-0 my-3;
}

.notion-page .notion-page-icon-hero.notion-page-icon-span {
  @apply -top-6 sm:-top-8;
}
.notion-page-icon-hero.notion-page-icon-span {
  @apply w-12 h-12 sm:w-[72px] sm:h-[72px] sm:-top-9 ml-0 -top-6 left-1/2 -translate-x-1/2;
}
.notion-page-icon-hero.notion-page-icon-span .notion-page-icon {
  @apply text-5xl sm:text-7xl;
}

.notion.notion-app .notion-page {
  @apply w-auto p-0 sm:p-6;
}

.notion.notion-app .notion-page-cover-wrapper {
  @apply rounded-lg overflow-hidden;
}

.notion-page-link {
  color: inherit;
}

.notion-list {
  @apply w-full;
}

.notion-list li,
ol {
  @apply py-2;
}

.notion-toggle {
  @apply w-full;
}

.notion-simple-table {
  @apply self-center;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-full-width {
  @apply px-0;
}

.notion.notion-app .notion-quote {
  @apply bg-zinc-100 leading-8 my-3 p-3 text-base rounded;
}

.notion-hr {
  @apply border-b-2 border-b-zinc-200 dark:border-b-zinc-600;
}

.notion-link {
  @apply relative border-b-2 bg-origin-border bg-no-repeat text-blue-600 border-b-zinc-200 dark:text-blue-300 dark:border-b-zinc-600;
  background-position: 50% 100%;
  background-size: 0 0.1rem;
}
.notion-link:focus,
.notion-link:hover {
  @apply border-transparent bg-no-repeat;
  background-image: linear-gradient(90.68deg, #b439df 0.26%, #a28181 102.37%);
  background-position: 0 100%;
  background-size: 100% 0.1rem;
  transition-property: background-position, background-size;
  transition-duration: 200ms;
}

@keyframes toc-fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.toc-fade-in {
  animation: toc-fade-in-animation 0.5s ease-in;
}

.notion-aside-table-of-contents {
  @apply bg-transparent;
}
.notion-table-of-contents {
  /* @apply 2xl:max-w-xs 2xl:fixed 2xl:z-10 2xl:top-20 2xl:inset-x-3/4; */
  @apply bg-transparent dark:bg-black;
}
.notion-table-of-contents-item {
  @apply px-2 dark:text-zinc-200 transition-colors hover:bg-transparent;
}
.notion-table-of-contents-active-item {
  @apply !text-primary;
}

.notion-bookmark {
  @apply border border-zinc-200 dark:border-zinc-600;
  color: inherit;
}
.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-zinc-900 dark:text-zinc-200;
}
.notion-bookmark .notion-bookmark-description {
  @apply text-zinc-600 dark:text-zinc-300;
}
.notion-bookmark:hover {
  @apply border-zinc-400;
}

.notion-code {
  @apply rounded dark:border-none;
}

.notion-code-copy-button {
  @apply text-zinc-600 dark:text-zinc-400 bg-white dark:bg-black border-none shadow-none rounded p-1 text-sm;
}

.notion-code-copy-tooltip {
  @apply text-xs;
}

.notion-viewport {
  z-index: -10;
}

.notion-asset-caption {
  @apply text-center;
  @apply text-zinc-500 dark:text-zinc-400;
}

.notion-aside-table-of-contents-header,
.notion-collection-row,
.notion-collection-view-type {
  @apply hidden;
}
