*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  height: 0.25em;
  padding: 0;
  border: 0;

  @apply my-6 bg-gray-50;
}

p {
  margin: 0;

  // margin-bottom: 1em;
}

blockquote {
  margin: 1em 0;
  text-indent: 0;
  border-left: 0.5em solid;
  padding: 0.5em 1em;
  padding-left: 1.5em;

  @apply border-gray-200 bg-gray-50;
}

th,
td {
  padding: 0.5em 1em;
  vertical-align: inherit;

  @apply border border-solid border-gray-100;
}

table {
  margin-bottom: 1em;
  border-spacing: 0;

  @apply w-full border-collapse;
}

caption {
  padding: 8px 0;
}

thead th {
  // background-color: $th-bg-color;
  // border: 1px solid $border-color;
  text-align: left;
}

tr {
  margin-bottom: 8px;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  font-size: 8px;
  font-style: italic;
  padding: 1em 4px;
}

ul,
ol {
  margin-bottom: 1em;
  padding-left: 3em;
  vertical-align: baseline;
  list-style-type: none;
}

code {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-word;
  word-wrap: break-word;
  overflow: auto;
  font-family: 'Fira Code';
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}
