*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  @apply my-6 border-none p-0;

  height: 0.25em;
  background-color: #eee;
}

p {
  margin-bottom: 1em;
}

blockquote {
  @apply my-2 border-l-4 border-solid py-2  pl-5 pr-4 indent-0;

  background-color: #f8f8f8;
  border-color: #31302e;
}

th,
td {
  padding: 0.5em 1em;
  vertical-align: inherit;

  @apply border border-solid border-gray-100;
}

table {
  margin-bottom: 1em;
  border-spacing: 0;

  @apply w-full border-collapse;
}

caption {
  padding: 8px 0;
}

thead th {
  background-color: #fcfcfc;
  border: 1px solid #e4e4e4;
  text-align: left;
}

tr {
  margin-bottom: 8px;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  font-size: 8px;
  font-style: italic;
  padding: 1em 4px;
}

ul,
ol {
  margin-bottom: 1em;
  padding-left: 3em;
  vertical-align: baseline;
  list-style-type: none;
}

code {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-word;
  word-wrap: break-word;
  overflow: auto;
  font-family: 'Fira Code';
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}
