html {
  --scroll-width: 6px;
  --scroll-height: 6px;
  --scrollbar-bg: #f1f1f1;
  --scroll-divider-light: rgba(140, 140, 140, 42%);
  --scroll-divider-dark: rgba(140, 140, 140, 100%);
}

html.dark {
  --scrollbar-bg: #111;
  --scroll-divider-light: rgba(200, 200, 200, 12%);
  --scroll-divider-dark: rgba(200, 200, 200, 48%);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-divider-light) var(--scrollbar-bg);
}

::-webkit-scrollbar {
  width: var(--scroll-width);
  height: var(--scroll-height);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-divider-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-divider-dark);
}
