.comment {
  .form {
    padding: 12px;
    padding-right: 0;
  }

  & & {
    background: #fff;
    margin: 12px 0 0 12px;
    padding-bottom: 12px;
  }

  & & & {
    @apply border border-dashed border-gray-300;
  }
}
