@import 'styles/variables';
@import 'styles/mixins/clearfix';

.commentCard {
  margin-bottom: $spacing;
  position: relative;
  border-radius: $border-radius;
  padding: $spacing;
  padding-left: $spacing-32;

  .content {
    background-color: $gray-2;
    transition: all 0.2s;
    padding: $spacing-md;
    padding-left: $spacing-48;

    &:hover {
      background-color: $gray-3;
    }
  }

  .header {
    display: flex;
    align-items: center;

    .name {
      font-weight: 500;
      display: inline-block;
    }

    .date {
      flex-grow: 1;
      text-align: right;
      font-size: $font-size-sm;
      color: $text-color-secondary;
    }

    .ua {
      font-size: $font-size-sm;
      font-weight: normal;
      margin-left: $spacing-md;
      color: $text-color-third;
    }
  }

  .avatar {
    box-shadow: inset 0 0 0 1px hsla(0deg, 0%, 0%, 20%);
    border: 4px solid lighten($gray-5, 5%);
    border-radius: $border-radius;
    position: absolute;
    left: 0;
    top: $spacing-32;
  }

  .commentContent {
    margin: $spacing-sm 0;
  }

  .reply {
    color: $text-color-secondary;
    font-size: $font-size-sm;
    transition: color 0.2s;
    cursor: pointer;
    margin: $spacing-ssm 0;

    &:hover {
      color: $gray-8;
    }
  }
}

.footer {
  @include clearfix;

  .actions {
    float: right;

    .action {
      color: $text-color-secondary;
      font-size: $font-size-sm;
      margin-left: $spacing-32;
      cursor: pointer;
      transition: all 0.2s;
      border: none;

      &.liked {
        color: $error !important;
      }

      &.disabled {
        cursor: not-allowed;
      }

      &:hover {
        color: $text-color;
      }

      :global(.iconfont) {
        margin-right: $spacing-ssm;
      }
    }
  }
}
