@import 'styles/variables.scss';

.title {
  text-align: center;

  .origin {
    position: absolute;
    left: 0;
    top: 0;
    color: $white;
    padding: 6px $padding-lg;
    font-size: $font-size-base;
    opacity: 0.7;
  }
}
