@import 'styles/variables';

.commentProfile {
  margin-bottom: $spacing;

  .edit {
    display: flex;
  }

  .nickname {
    text-align: right;
    margin-bottom: 0;

    > span {
      margin-right: $spacing;
      font-size: $font-size-lg;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

.form {
  display: flex;
  margin-top: $spacing-lg;
  background-color: $white;
  padding: $spacing;
}

.wrapper {
  flex: 1;
  margin-left: $spacing;
}

.avatar {
  border: 4px solid lighten($gray-5, 5%);
  border-radius: $border-radius;
  margin-top: 45px;
}

.actionBar {
  margin-top: $spacing;
  display: flex;
  justify-content: space-between;

  .send {
    width: 120px;
    vertical-align: top;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-md;
}

.reply {
  margin-bottom: $spacing;

  .nickname {
    padding: $spacing-ssm $spacing-md;
    border-radius: $border-radius;
    color: $text-color-secondary;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $gray-2;
    transition: all 0.2s;

    &:hover {
      background-color: $gray-4;
    }

    strong {
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: $gray-8;
      }
    }
  }

  .close {
    padding: $spacing-ssm 0;
    float: right;
    cursor: pointer;

    &:hover {
      color: $gray-8;
    }
  }
}
